/* Index */
*{
    box-sizing: border-box;
}

html{
    height:100%;
    margin: 0px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
/* style.css is not located in same folder as html */
    background: url("../images/background.png");
    background-repeat: repeat;
    color:rgba(119, 119 ,119, 1);
    height: 100%;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.main-body{
    position:relative;
    min-height: 100%;
    padding-bottom: 70px;
    margin: 0px;
}


#masthead{
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    border-radius:10px;
}
  
nav {
    float: right;
    margin-top: 35px;
}
  
nav a {
    display: inline-block;
    padding-left: 15px;
    margin-right: 5px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}
  
nav a:first-child {
    border-left: 0 none;
}

/* change font size of link when hoer mouse pointer over */

a:hover{
    font-size: 30px;
}

a:visited {
    color: #777777;
  }

.bio-container{
    max-width: 100%;
    margin:0px 0px 20px 0px;   
}

/* animation */
@keyframes slide {
    0% {left: 750px;}
    100%{left:870px;}
}

#github{
    float: right;
}

#finger{
    
    position: relative;
    left: 750px;
    animation-name: slide;
    animation-duration: 3s; 
    animation-timing-function: ease-in-out;
    animation-iteration-count:3;
}

#linkedin{
    float: right;
}

.bio{
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ddd;
    text-align:justify;
    text-align:justify;
    overflow:auto;
}

.paragraph::first-letter {
    font-size:30px;
    color: #666666;
  }

/* clearfix for profil image and its container */

.about-bar{
    
    position: relative;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
    overflow: auto;
}

.subtitle{
    color:#4aaaa5;
    margin:0 auto;
}

#profile-image{
    float: left;
    margin-right:20px;
    margin-bottom: 10px;
}

.paragraph{
    clear: none;
}

footer{
    position: absolute;
    bottom: 0px;
    background-color:#666666;
    color: #dddddd;
    height: 70px;
    border-top: 8px solid #4aaaa5;
    width: 100%;
}

#copyright{
    text-align: center;
}

/* Contact */

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-left:6px solid #4aaa4a;
}

.message-contact{
    height: 250px;
    width: 100%;
    border-left:6px solid #4aaa4a;
}

.button-contact{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background:#4c794c;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* portfolio */

section{
    float: left;
    margin: 30px;
}

.frame{
    position: relative;
}

h3{
    position: absolute;
    bottom:5px;
    height: 50px;
    width:100%;
    background-color:#4aaaa5;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    
}


/* media query */

@media screen and (max-width: 980px){
    .bio-container{
        max-width:700px;
    }
}

@media screen and (max-width: 768px){
    #profile-image{
        height:200px;
        width: 180px;
    }
    .bio-container{
        max-width:550px;
    }
    body{
        font-size:15px;
        margin:0px;
    }
}

@media screen and (max-width: 640px){
    .masthead{
        position: static; 
    }

    #logo{
        width:100%;
    }

    .container nav{
        width:100%;
        font-size: 20px;
        text-align: center;
        margin: 10px auto 10px;
    }
    
    #profile-image{
        max-height:120px;
        max-width: 100px;
    }
    body{
        margin:0;
    }
}
